/*
 *  Bootstrap override
 */

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.row-flex{
    display: flex;
    flex-flow: row wrap;
}
.row-flex .col {
    flex-direction: column;
}
.row-flex .col .cell {
    height: 100%;
}

/*
 *  Common
 */

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.fullscreen-vertical-mid {
    display:  table-cell;
    vertical-align:  middle;
    height:  100vh;
    width: inherit;
}

/*
 *  NavBar
 */

.navbar.navbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar-spacer.navbar-fixed {
    width: 100%;
    /*height: 50px;*/
}

.navbar-collapse.collapse {
    overflow-y: scroll;
    max-height: 75vh;
}

.navbar-main {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-radius: 0;
}

img.nav-logo {
    height: 100%;
}

/*
 *  Error page
 */

body.error {
    background-color: #e8e8e8;
}

.section_error img.error {
    max-width: 100%;
}

.error-logo {
    width: 100%;
    text-align: center;
}

.error-left {
    text-align: center;
}

.error-right {
    text-align: center;
    padding: 10% 10px;
}